body {
    color: #fff;
}

.container {
}

.row {
    height: 100%;
    
}

[class*="col"] {
    background: hsl(330, 49%, 75%);
    border: 1px rgb(126, 126, 126) solid;
    height: 25px;
    text-align: center;
    padding: 5px;
}


#red{ 
    background-color: rgb(77, 18, 18);
}

#brown{
    background-color: rgb(68, 42, 7);
}

#grey{
    background-color: gray;
}
#black{
    background-color: black;
}
#green{
    background-color: green;
}
#green-intensive{
    background-color: rgb(14, 59, 14);
}
#green-light{ 
    background-color: rgb(56, 97, 56);
}

#green-intensive-1{
    background-color: rgb(8, 32, 8);
}
#pink{
    background-color: hsl(338, 41%, 84%);
}

#blue{
    background-color: rgb(111, 111, 158);
}


#white{
    background-color: white;
}